.Rproj.user
.Rhistory
.RData
.Ruserdata
./code/analysis/ld/PopLDdecay
./code/analysis/rho/ldhat_dir/LDhat
./data/genome/Struthio_camelus.20130116.OM.fa
./data/genome/repeatmask/Struthio_camelus.20130116.OM.fa.cat.gz
./data/genome/repeatmask/Struthio_camelus.20130116.OM.fa.masked
./data/genome/repeatmask/Struthio_camelus.20130116.OM.fa.out
./data/ld/ld_window/autosome/chr4/scaffold198.pairwise.LD.gz
./data/ld/ld_window/autosome/chr4/scaffold120.pairwise.LD.gz
./data/ld/ld_window/autosome/chr4/superscaffold44.pairwise.LD.gz
./data/ld/ld_window/autosome/chr4/superscaffold31.pairwise.LD.gz
./data/ld/ld_window/autosome/chr4/superscaffold11.pairwise.LD.gz
./data/ld/ld_window/autosome/chr4/superscaffold66.pairwise.LD.gz
./data/ld/ld_window/autosome/chr4/scaffold25.pairwise.LD.gz
./data/ld/ld_window/autosome/chr4/superscaffold57.pairwise.LD.gz
./data/ld/ld_window/autosome/chr4/superscaffold28.pairwise.LD.gz
./data/ld/ld_window/autosome/chr5/superscaffold41.pairwise.LD.gz
./data/ld/ld_window/autosome/chr5/superscaffold8.pairwise.LD.gz
./data/ld/ld_window/z/superscaffold67.pairwise.LD.gz
./data/ld/ld_window/z/superscaffold54.pairwise.LD.gz
./data/ld/ld_window/z/superscaffold36.pairwise.LD.gz
./data/ld/ld_window/z/superscaffold63.pairwise.LD.gz
./data/ld/ld_window/z/superscaffold36.par.pairwise.LD.gz
./data/ld/ld_window/z/superscaffold92.pairwise.LD.gz
./data/ld/ld_window/z/superscaffold35.pairwise.LD
./data/ld/ld_window/z/superscaffold26.pairwise.LD.gz
./data/ld/ld_window/z/superscaffold93.pairwise.LD.gz
./data/ld/ld_window/z/superscaffold69-1.pairwise.LD.gz
./data/ld/ld_window/z/superscaffold36.nonpar.pairwise.LD.gz
./data/vcf/original_vcf/black.all.vcf.gz
./data/vcf/a_vcf/stats/A.lmiss
./data/vcf/a_vcf/stats/A.frq
./data/vcf/a_vcf/stats/A.lqual
./data/vcf/a_vcf/stats/A.ldepth.mean
./data/vcf/a_vcf/a_vcf.filtered.vcf.gz
./data/vcf/a_vcf/a_vcf.filtered.repeatmasked.vcf.gz
./data/vcf/a_vcf/a_vcf.filtered.repeatmasked.hwe.vcf.gz
./data/vcf/a_vcf/black.A.biallelic.snp.vcf.gz
./data/vcf/a_vcf/a_vcf.filterflags.vcf.gz
./data/vcf/a_vcf/black.A.vcf.gz
./data/vcf/a_vcf/stats_postFilter/a.hwe
./data/vcf/a_vcf/stats_postFilter/a.lmiss
./data/vcf/a_vcf/stats_postFilter/a.frq
./data/vcf/a_vcf/stats_postFilter/a.lqual
./data/vcf/a_vcf/stats_postFilter/a.ldepth.mean
./data/ld/ld_decay/*
./data/ld/ld_window/*
./data/*
