ldhat_stat/
ldhat_input/
ldhat_output/
rho_r_Ne_table_reversed.txt
rho_scaffold_36_cumRho_thin.csv
ldhat_mcmc/chr4/
ldhat_mcmc/chr5/
ldhat_mcmc/z/
ldhat_mcmc/chr4.tar.gz
ldhat_mcmc/chr5.tar.gz
ldhat_mcmc/z.tar.gz
